/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

/* Cabeçalho */
header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 0 0px rgb(255, 255, 255);
}

/* Logo */
.logo img {
    display: block;
    margin: 0 auto;
    max-width: 120px;
    height: auto;
}

/* Título dos produtos */
h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Estilo dos produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.produto {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.produto h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
}

.produto p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 10px 0;
    text-align: justify;
}

.produto a.botao {
    display: block;
    background-color: #fda500f6;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.produto a.botao:hover {
    background-color: #ff6600;
}

.produto:hover {
    transform: scale(1.03);
}

/* Rodapé */
footer {
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 30px;
}

/* Media Queries para responsividade */
@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    .produto {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 70%;
    }
}